body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

#textinput {
    width: 500px;
    height: 100px;
    resize:none;
}

#speakButton {
    padding: 10px 20px;
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    
}